src/wsdl/qbwc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:tns="http://developer.intuit.com/"
  targetNamespace="http://developer.intuit.com/">

  <wsdl:types>
    <xsd:schema targetNamespace="http://developer.intuit.com/">
      <xsd:complexType name="ArrayOfString">
        <xsd:sequence>
          <xsd:element name="string" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:element name="serverVersion">
        <xsd:complexType><xsd:sequence/></xsd:complexType>
      </xsd:element>
      <xsd:element name="serverVersionResponse">
        <xsd:complexType><xsd:sequence>
          <xsd:element name="serverVersionResult" type="xsd:string"/>
        </xsd:sequence></xsd:complexType>
      </xsd:element>

      <xsd:element name="clientVersion">
        <xsd:complexType><xsd:sequence>
          <xsd:element name="strVersion" type="xsd:string"/>
        </xsd:sequence></xsd:complexType>
      </xsd:element>
      <xsd:element name="clientVersionResponse">
        <xsd:complexType><xsd:sequence>
          <xsd:element name="clientVersionResult" type="xsd:string"/>
        </xsd:sequence></xsd:complexType>
      </xsd:element>

      <xsd:element name="authenticate">
        <xsd:complexType><xsd:sequence>
          <xsd:element name="strUserName" type="xsd:string"/>
          <xsd:element name="strPassword" type="xsd:string"/>
        </xsd:sequence></xsd:complexType>
      </xsd:element>
      <xsd:element name="authenticateResponse">
        <xsd:complexType><xsd:sequence>
          <xsd:element name="authenticateResult" type="tns:ArrayOfString"/>
        </xsd:sequence></xsd:complexType>
      </xsd:element>

      <xsd:element name="sendRequestXML">
        <xsd:complexType><xsd:sequence>
          <xsd:element name="ticket" type="xsd:string"/>
          <xsd:element name="strHCPResponse" type="xsd:string" minOccurs="0"/>
          <xsd:element name="strCompanyFileName" type="xsd:string" minOccurs="0"/>
          <xsd:element name="qbXMLCountry" type="xsd:string" minOccurs="0"/>
          <xsd:element name="qbXMLMajorVers" type="xsd:int"/>
          <xsd:element name="qbXMLMinorVers" type="xsd:int"/>
        </xsd:sequence></xsd:complexType>
      </xsd:element>
      <xsd:element name="sendRequestXMLResponse">
        <xsd:complexType><xsd:sequence>
          <xsd:element name="sendRequestXMLResult" type="xsd:string"/>
        </xsd:sequence></xsd:complexType>
      </xsd:element>

      <xsd:element name="receiveResponseXML">
        <xsd:complexType><xsd:sequence>
          <xsd:element name="ticket" type="xsd:string"/>
          <xsd:element name="response" type="xsd:string"/>
          <xsd:element name="hresult" type="xsd:string" minOccurs="0"/>
          <xsd:element name="message" type="xsd:string" minOccurs="0"/>
        </xsd:sequence></xsd:complexType>
      </xsd:element>
      <xsd:element name="receiveResponseXMLResponse">
        <xsd:complexType><xsd:sequence>
          <xsd:element name="receiveResponseXMLResult" type="xsd:int"/>
        </xsd:sequence></xsd:complexType>
      </xsd:element>

      <xsd:element name="connectionError">
        <xsd:complexType><xsd:sequence>
          <xsd:element name="ticket" type="xsd:string"/>
          <xsd:element name="hresult" type="xsd:string"/>
          <xsd:element name="message" type="xsd:string"/>
        </xsd:sequence></xsd:complexType>
      </xsd:element>
      <xsd:element name="connectionErrorResponse">
        <xsd:complexType><xsd:sequence>
          <xsd:element name="connectionErrorResult" type="xsd:string"/>
        </xsd:sequence></xsd:complexType>
      </xsd:element>

      <xsd:element name="getLastError">
        <xsd:complexType><xsd:sequence>
          <xsd:element name="ticket" type="xsd:string"/>
        </xsd:sequence></xsd:complexType>
      </xsd:element>
      <xsd:element name="getLastErrorResponse">
        <xsd:complexType><xsd:sequence>
          <xsd:element name="getLastErrorResult" type="xsd:string"/>
        </xsd:sequence></xsd:complexType>
      </xsd:element>

      <xsd:element name="closeConnection">
        <xsd:complexType><xsd:sequence>
          <xsd:element name="ticket" type="xsd:string"/>
        </xsd:sequence></xsd:complexType>
      </xsd:element>
      <xsd:element name="closeConnectionResponse">
        <xsd:complexType><xsd:sequence>
          <xsd:element name="closeConnectionResult" type="xsd:string"/>
        </xsd:sequence></xsd:complexType>
      </xsd:element>

    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="serverVersionRequest">
    <wsdl:part name="parameters" element="tns:serverVersion"/>
  </wsdl:message>
  <wsdl:message name="serverVersionResponse">
    <wsdl:part name="parameters" element="tns:serverVersionResponse"/>
  </wsdl:message>

  <wsdl:message name="clientVersionRequest">
    <wsdl:part name="parameters" element="tns:clientVersion"/>
  </wsdl:message>
  <wsdl:message name="clientVersionResponse">
    <wsdl:part name="parameters" element="tns:clientVersionResponse"/>
  </wsdl:message>

  <wsdl:message name="authenticateRequest">
    <wsdl:part name="parameters" element="tns:authenticate"/>
  </wsdl:message>
  <wsdl:message name="authenticateResponse">
    <wsdl:part name="parameters" element="tns:authenticateResponse"/>
  </wsdl:message>

  <wsdl:message name="sendRequestXMLRequest">
    <wsdl:part name="parameters" element="tns:sendRequestXML"/>
  </wsdl:message>
  <wsdl:message name="sendRequestXMLResponse">
    <wsdl:part name="parameters" element="tns:sendRequestXMLResponse"/>
  </wsdl:message>

  <wsdl:message name="receiveResponseXMLRequest">
    <wsdl:part name="parameters" element="tns:receiveResponseXML"/>
  </wsdl:message>
  <wsdl:message name="receiveResponseXMLResponse">
    <wsdl:part name="parameters" element="tns:receiveResponseXMLResponse"/>
  </wsdl:message>

  <wsdl:message name="connectionErrorRequest">
    <wsdl:part name="parameters" element="tns:connectionError"/>
  </wsdl:message>
  <wsdl:message name="connectionErrorResponse">
    <wsdl:part name="parameters" element="tns:connectionErrorResponse"/>
  </wsdl:message>

  <wsdl:message name="getLastErrorRequest">
    <wsdl:part name="parameters" element="tns:getLastError"/>
  </wsdl:message>
  <wsdl:message name="getLastErrorResponse">
    <wsdl:part name="parameters" element="tns:getLastErrorResponse"/>
  </wsdl:message>

  <wsdl:message name="closeConnectionRequest">
    <wsdl:part name="parameters" element="tns:closeConnection"/>
  </wsdl:message>
  <wsdl:message name="closeConnectionResponse">
    <wsdl:part name="parameters" element="tns:closeConnectionResponse"/>
  </wsdl:message>

  <wsdl:portType name="QBWebConnectorSvcSoap">
    <wsdl:operation name="serverVersion">
      <wsdl:input  message="tns:serverVersionRequest"/>
      <wsdl:output message="tns:serverVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="clientVersion">
      <wsdl:input  message="tns:clientVersionRequest"/>
      <wsdl:output message="tns:clientVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="authenticate">
      <wsdl:input  message="tns:authenticateRequest"/>
      <wsdl:output message="tns:authenticateResponse"/>
    </wsdl:operation>
    <wsdl:operation name="sendRequestXML">
      <wsdl:input  message="tns:sendRequestXMLRequest"/>
      <wsdl:output message="tns:sendRequestXMLResponse"/>
    </wsdl:operation>
    <wsdl:operation name="receiveResponseXML">
      <wsdl:input  message="tns:receiveResponseXMLRequest"/>
      <wsdl:output message="tns:receiveResponseXMLResponse"/>
    </wsdl:operation>
    <wsdl:operation name="connectionError">
      <wsdl:input  message="tns:connectionErrorRequest"/>
      <wsdl:output message="tns:connectionErrorResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getLastError">
      <wsdl:input  message="tns:getLastErrorRequest"/>
      <wsdl:output message="tns:getLastErrorResponse"/>
    </wsdl:operation>
    <wsdl:operation name="closeConnection">
      <wsdl:input  message="tns:closeConnectionRequest"/>
      <wsdl:output message="tns:closeConnectionResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="QBWebConnectorSvcSoap" type="tns:QBWebConnectorSvcSoap">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="serverVersion">
      <soap:operation soapAction="http://developer.intuit.com/serverVersion" />
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="clientVersion">
      <soap:operation soapAction="http://developer.intuit.com/clientVersion" />
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="authenticate">
      <soap:operation soapAction="http://developer.intuit.com/authenticate" />
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendRequestXML">
      <soap:operation soapAction="http://developer.intuit.com/sendRequestXML" />
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="receiveResponseXML">
      <soap:operation soapAction="http://developer.intuit.com/receiveResponseXML" />
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="connectionError">
      <soap:operation soapAction="http://developer.intuit.com/connectionError" />
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastError">
      <soap:operation soapAction="http://developer.intuit.com/getLastError" />
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="closeConnection">
      <soap:operation soapAction="http://developer.intuit.com/closeConnection" />
      <wsdl:input><soap:body use="literal"/></wsdl:input>
      <wsdl:output><soap:body use="literal"/></wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="QBWebConnectorSvc">
    <wsdl:port name="QBWebConnectorSvcSoap" binding="tns:QBWebConnectorSvcSoap">
      <soap:address location="https://example.com/qbwc"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
